<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <div class="/submit-form">
        <h1>Contact Us</h1>
        <form action="/submit" method="POST">
            <label for="id">ID</label><br>
            <input type="number" id="id" name="id" required><br><br>

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <input type="submit" value="Submit">
        </form>

    </div>

    <hr>
    <div class="/submitted-data">
        <h2>Submitted Data:</h2>
        <ul>
            <% if (users.length > 0) { %>
                <% users.forEach(user => { %>
                    <li>ID: <%= user.id %>, Name: <%= user.name %></li>
                <% }) %>
            <% } else { %>
                <li>No data submitted yet.</li>
            <% } %>
        </ul>
    </div>
</body>
</html>